:root {

    /* Dark Theme Variables */
    --dark-background-color: #1F1F22;
    --dark-nav-color: #18181B;
    --dark-nav-button-color: #2A2A2A;
    --dark-nav-button-color-2: #474747;
    --dark-text-color: #ffffff;
    --dark-text-color-navbar: #ffffff;
    --dark-a-color: #00ffff;
    --dark-a-color-visited: #00ffff;

    /* Light Theme Variables */
    --light-background-color: #ffffff;
    --light-nav-color: #555555;
    --light-nav-button-color: #444444;
    --light-nav-button-color-2: #333333;
    --light-text-color: #000000;
    --light-text-color-navbar: #ffffff;
    --light-a-color: #0000ff;
    --light-a-color-visited: #0000ff;
}

p {
    max-width: 60ch;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    min-width: 40rem;

    --background-color: var(--light-background-color);
    --nav-color: var(--light-nav-color);
    --nav-button-color: var(--light-nav-button-color);
    --nav-button-color-2: var(--light-nav-button-color-2);
    --text-color: var(--light-text-color);
    --text-color-navbar: var(--light-text-color-navbar);
    --a-color: var(--light-a-color);
    --a-color-visited: var(--light-a-color-visited);

    transition: .1;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

body.theme-dark {
    --background-color: var(--dark-background-color);
    --nav-color: var(--dark-nav-color);
    --nav-button-color: var(--dark-nav-button-color);
    --nav-button-color-2: var(--dark-nav-button-color-2);
    --text-color: var(--dark-text-color);
    --text-color-navbar: var(--dark-text-color-navbar);
    --a-color: var(--dark-a-color);
    --a-color-visited: var(--dark-a-color-visited);
}

@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --background-color: var(--dark-background-color);
        --nav-color: var(--dark-nav-color);
        --nav-button-color: var(--dark-nav-button-color);
        --nav-button-color-2: var(--dark-nav-button-color-2);
        --text-color: var(--dark-text-color);
        --text-color-navbar: var(--dark-text-color-navbar);
        --a-color: var(--dark-a-color);
        --a-color-visited: var(--dark-a-color-visited);
    }
}

main {
    margin-left: .75rem;
    margin-right: .75rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

main * {
    margin: .25rem;
}

main > * { /*Use main * to select descendants*/
    margin: .5rem;
}

h1 {
    text-align: center;
}

main h1 {
    transition: .1s;
    cursor: default;
}

main h1:hover {
    font-size: 2.1rem;
}

a {
    color: var(--a-color);
}

a:visited {
    color: var(--a-color-visited);
}

ul {
    text-align: left;
}

.navbar {
    color: var(--text-color-navbar);
    background-color: var(--nav-color);
    margin: 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a {
    color: var(--text-color-navbar);
    background-color: var(--nav-button-color);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    border-radius: 2rem;
    width: 10ch;
    transition: .25s;
}

.navbar h1 {
    margin: 0;
    padding: .5rem;
}

.navbar a:hover{
    background-color: var(--nav-button-color-2);
    width: 13ch;
}

.navbar li{
    float: left;
    margin: 0 .5rem 1rem .5rem;
}

.navbar .right {
    float: right;
}

.ThemeSelect {
    color: var(--text-color-navbar);
    background-color: #000;
    padding: .25rem .25rem .25rem .75rem;
    border-radius: 2rem;
    border: 1px solid #808080;
    vertical-align: middle;
    margin-top: .5rem;
}

.ThemeSelect select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    /* other styles for aesthetics */
    font-size: 1.1rem;
    padding: 0 1em 0 1em;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 1rem;
    color: #000;
    cursor: pointer;
}

.nav-hire a {
    background-color: #00ff00;
    border: .125rem solid #00a000;
    color: #ff00ff;
    font-weight: bold;
    text-shadow:
    0 0 .125rem #a000ff,
    0 0 .25rem #00ffff;
}

.nav-hire a:hover {
    background-color: #00ffff;
    border: .125rem solid #00a0a0;
    color: #ffff00;
    text-shadow:
    0 0 .125rem #40ff00,
    0 0 .25rem #ff0000;
}